@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik-medium-webfont.woff2') format('woff2'),
    url('./assets/fonts/rubik-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/rubik-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/rubik-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --bg: #E5E5E5;
  --bg-2: #FAFAFA;
  --bg-3: #A3A3A3;
  --fg: #171717;
  --fg-2: #404040;
  --red: #FCA5A5;
  --gold: #FDBA74;
  --svg-width-sidebar: 25px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);

  display: grid;
  grid-template-columns: 1fr 4.5fr;
}

button,
input {
  font-family: inherit;
}

button {
  all: unset;
  text-align: center;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

svg {
  pointer-events: none;
}

.sidebar {
  background: var(--bg-2);
  padding: 1.5rem;

  .logo-container {
    display: flex;
    align-items: baseline;
    gap: .75rem;

    h1 {
      font-size: 1.75rem;
      margin-bottom: 0;
    }

    svg {
      fill: var(--red);
      width: 40px;
    }
  }

  .task-bar {

    .add-task-btn {
      width: 100%;
      font-weight: 500;
      background: var(--bg);
      padding: 0 10px;
      border-radius: 10px;

      display: flex;
      align-items: center;
      gap: .5rem;

      &:hover {
        outline: 3px solid var(--bg-3);
      }

      svg {
        fill: var(--red);
        width: var(--svg-width-sidebar);
      }
    }

    .task-grouping {
      margin: .5rem 0;

      display: flex;
      flex-direction: column;
      gap: .2rem;

      button {
        width: 100%;
        padding: 0 10px;
        padding-right: 20px;
        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        gap: 2rem;

        &:hover {
          background: var(--bg);
        }

        div {
          display: flex;
          align-items: center;
          gap: .4rem;
        }

        svg {
          fill: var(--bg-3);
          width: var(--svg-width-sidebar);
        }

        >p:last-child {
          color: var(--bg-3);
        }
      }
    }
  }

  .list-bar {
    svg {
      fill: var(--bg-3);
      width: var(--svg-width-sidebar);
    }

    h3 {
      font-weight: 500;
      font-size: 1.3rem;
      color: var(--fg-2);
    }

    .list-empty-warning {
      font-size: .9rem;
      color: var(--bg-3);
    }

    .add-list-form,
    .rename-list-form {
      padding: 10px;

      display: grid;
      grid-template-columns: auto auto;
      gap: .75rem;

      input {
        grid-column: 1 / 3;
        height: 2rem;
        font-size: 1rem;
        border: none;
        outline: 2px solid var(--bg);
        border-radius: 3px;
        padding-left: 3px;
      }

      button {
        background: var(--bg);
        height: 2rem;
        border-radius: 3px;

        &:hover {
          outline: 2px solid var(--bg-3);
        }
      }
    }

    .lists {
      display: flex;
      flex-direction: column;
      gap: .3rem;

      .list {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        border-radius: 10px;

        &:hover {
          background: var(--bg)
        }

        >div {
          display: flex;
          align-items: center;
          gap: .3rem;
        }

        >div:last-child>span:hover {
          svg {
            fill: var(--fg-2);
          }
        }
      }
    }

    .add-list-btn {
      margin-top: .5rem;
      width: 100%;
      padding: 5px;
      background: var(--bg);
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        outline: 3px solid var(--bg-3);
      }

      svg {
        width: 32px;
        fill: var(--fg-2);
      }
    }
  }

  hr {
    margin: 1rem 0;
    border: none;
    height: 3px;
    background: var(--bg);
  }
}

.selected {
  background: var(--bg);
}

main {
  display: flex;
  justify-content: center;

  >div {
    margin-top: 1rem;
    width: 70%;
  }

  hr {
    border: none;
    height: 1px;
    background: var(--bg-3);
  }

  div:has(>.task) {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .task {
    display: flex;
    gap: 1rem;

    background: var(--bg-2);
    border-radius: 5px;
    padding-left: 1rem;
    outline: 1px solid var(--bg-3);

    input {
      transform: scale(1.4);
    }

    div:has(>.task-desc) {
      display: grid;
      grid-template-columns: minmax(auto, 70%) 15% auto;
      align-items: center;
      gap: 1rem;

      width: 100%;
      padding-right: 3%;
      color: var(--fg-2);
      font-size: .95rem;

      >div:nth-last-child(2) {
        text-decoration: underline;

        &:hover {
          cursor: pointer;
          font-size: .96rem;
        }
      }

      >div:last-child {
        flex-shrink: 0;
      }
    }

    .task-desc {

      >p:first-child {
        font-weight: 500;
        text-decoration: underline;
        text-decoration-color: var(--bg-3);
        margin-bottom: 0;
        color: var(--fg);
        font-size: initial;
      }

      >p:nth-child(2) {
        font-size: .9rem;
        color: var(--fg-2);
      }
    }

    &.high {
      border-right: 10px solid var(--red);
    }

    &.medium {
      border-right: 10px solid var(--gold);
    }

    &.low {
      border-right: 10px solid var(--bg-3);
    }
  }

}

#addTaskModal {
  background: var(--bg-2);
  border: 2px solid var(--bg-3);
  border-radius: 5px;
  width: max(500px, 40%);

  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    width: 70%;

    padding: 1rem;

    h2 {
      margin: 0;
      margin-bottom: 1rem;
      text-align: center;
    }

    >div {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    >div:has(>button) {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      margin-bottom: 1rem;

      button {
        width: 100%;
        padding: 1rem;
        background: var(--bg);
        border-radius: 10px;

        &:hover {
          outline: 3px solid var(--bg-3);
        }
      }
    }

    input,
    select {
      height: 2rem;
      font-size: 1rem;
      border: none;
      outline: 2px solid var(--bg-3);
      border-radius: 3px;
      padding-left: 10px;
      padding-right: 10px;
    }

    textarea {
      height: 5rem;
      font-size: 1rem;
      border: none;
      outline: 2px solid var(--bg-3);
      border-radius: 3px;
      padding-left: 3px;
      font-family: inherit;
      padding: 5px 10px;
    }
  }
}